

/* Update container styling */
/* Style the form container */
/* Style the form container */
.container {
  background-color: #11101d;
  padding: 20px;
  border-radius: 5px;
  color: white;
  width: 60%; /* Reduce the width */
  max-width: 90%; /* Add a max-width to prevent the container from being too wide */
  margin: auto; /* Center the container */
  display: flex; /* Add this to arrange form fields horizontally */
  flex-wrap: wrap; /* Add this to allow the form fields to wrap to the next line if necessary */
}


/* Style the labels */
.container label {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

/* Style the input fields and textareas */
.container input,
.container select,
.container textarea {
  width: 45%; /* Reduce the width */
  padding: 10px;
  margin: 2.5%; /* Add margins around the form fields */
  border-radius: 5px;
  border: none;
}

/* Style the submit button */
.container button[type="submit"] {
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Make the button more rounded */
  cursor: pointer;
  width: 100%; /* Make the button full width */
  margin: 2.5%; /* Add margins around the button */
  font-size: 18px;
}

/* Add a hover effect to the submit button */
.container button[type="submit"]:hover {
  background-color: #45a049;
}

/* Style for the icon */
.asset-details-icon {
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Blur effect */
  z-index: 999; /* Ensure it's above other content */
  display: none; /* Hide by default */
  justify-content: center;
  align-items: center;
}

.dialog-container.active {
  display: flex; /* Show when active */
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #f44336;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
