/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;

}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 50px; /* Adjust the position */
  right: 50px; /* Adjust the position */
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
  max-width: 400px; /* Adjust the width as needed */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Add styles to the form container */
.form-container {
  padding: 20px;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password],
.form-container select,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: #f44336;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
